body {
        font-family: sans-serif;
        /* width: 100%;   */
        height: auto;
        max-width: 100%;
        
}

.top {
        
        background-color:rgb(47,153,155);
        display: flex;
        height:100px;
        width: 100%;
        z-index: 1;
       
        
}


    
.image {
            
            height:100px;
            width:200px;
            z-index: 1;
            
}
.detail {
        
        height: 80px;
        padding: 10px;
        display: flex;
        border-radius: 0px;
        align-items: center;
        color: rgb(47,153,155);
        justify-content: space-between;
        float: right;
        width:1600px;
        z-index: 4;
        
}
.detail ul li #log{
        width:40px;
        
}
#logbut {
        
        padding: 5px;
        height:50px;
        width:30px;
}
.detail .fa {
        margin-right: 8px;
}
.btnLogin-popup {
                background: white;
}

.wrapper1{

        
        width: 310px;
        height:400px;
        background:whitesmoke;
        border: 2px solid rgb(47,153,155) ;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        z-index: 4;
        margin-top: 40px;
        margin-left: 650px;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition:height .2s ease;
       transform: scale(0);
        overflow: hidden;
        transition: transform .5s ease,height .2s ease;
}

.wrapper1.active-popup{
        transform: scale(1);

}
.wrapper1.active {
        height: 570px;
        

}
.wrapper1 .form-box {
        width:300px;
        padding: 40px;
        
}
.wrapper1 .form-box.login{
    transition: transform .18s ease;
    transform: translatex(0);
    

        
}
.wrapper1.active .form-box.login{
      transition: none;
      transform: translatex(-400px);
        
}
.wrapper1 .form-box.register{
        position: absolute;
        transition: none;
        transform:  translatex(400px);
}
.wrapper1.active .form-box.register{
        transition: transform .18s ease;
        transform: translatex(0);}
.wrapper1 .icon-close {
        position: absolute;
        top: 0;
        right:0;
        width:45px;
        height:45px;
        background: #162938;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 4;
        
}
.form-box h2{
        font-size: 2em;
        color:#162938;
        text-align: center;
}
.input-box{
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #162938;
        margin: 30px 0;

}
.input-box label{
        position: absolute;
        top:50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #162938;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;

}
.input-box input:focus~label,
.input-box input:valid~label{
        top: -5px;
      
}
.input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border:none;
        outline: none;
        font-size: 1em;
        color: #162938;
        font-weight: 600;
        padding: 0 35px 0 5px;
        
}
.remember-forgot{
        font-size: .9em;
        color: #162938;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content: space-between;
}
.remember-forgot label input {
        accent-color: #162938;
        margin-right: 3px;
}
.remember-forgot a{
        color: #162938;
        text-decoration: none;       
}
.remember-forgot a:hover {
        text-decoration: underline;
}
.btn {
        width: 100%;
        height:45px;
        background: #162938;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: #fff;
        font-weight: 500;

}
.login-register {
        font-size: .9em;
        color: #162938;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;

}
.login-register p a{
        color: #162938;
        text-decoration: none;
        font-weight: 600;     
}
.login-register p a:hover{
        text-decoration: underline;
}

.input-box .icon{
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: #162938;
        line-height: 57px;

}
.search {        
            height:40px;
            padding: 30px;
            float:right;
            z-index: 4;
}  

#im1{
    height:70px;
    width:120px;
    margin-left: 50px;
    margin-top: 20px;
    

} 


#searchbar {
    
    width:800px;
    height:20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px ;
    background-color: white;
    transition: background 0.15s,box-shadow 0.15s;
    margin-left: 30px;


}

.search-timer::after{
        content: "";
        position: absolute;
        top: 35px;
        
        left: 200px;
        height:2px;
        background: black;
        border-radius: 5px;
        
        animation:searchIndicator 0.5s infinite ease-in-out;

}



#searchbar > input {
            flex:1;
            height:18px;
            border:0;
            outline:none;
            font-size: 15px;
            background:white;
            color:grey;
            overflow: hidden;
            


} 

#searchbar button {
        cursor: pointer;
}
            



#searchbar button{
                border:0;
                border-radius: 50% ;
                width:30px;
                height:30px;
                background: white;
}


.top1{
        
        height: auto;
        

}

#img1 {
        margin-top: 100px;
        margin-left: 300px;
        margin-bottom: 100px;


}
.container{
        
        width:50%;
        display: flex;
        margin-left: 500px;
        margin-top:90px ;
        z-index: 3;
        position: absolute;
        
        top:0;
}
#root{
        width:40%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
}
.sidebar{
        width:40%;
        border-radius:5px;
        background-color: #eee;
        margin-left: 130px;
        padding:10px;
        text-align: center;
}
.head{
        background-color: #1CB4CF;
        border-radius: 3px;
        height:30px;
        width:260px;
        padding:10px;
        margin-bottom: 20px;
        color: white;
        display: flex;
        align-items: center;
}
.foot{
        display: flex;
        justify-content: space-between;
        margin:20px 0px;
        width: 260px;
        padding: 10px 0px;
        border-top:1px solid #333;
}
.foot h2{
        font-size: 20px;
        color: red;
}
.c {
        align-items: center;
        background: rgb(47,153,155) ;
        border-color:  rgb(47,153,155) ;;
        margin-left: 6px;
}
.c #car{
        color: #fff;
        
}
.container .iconc {
        position: absolute;
        top: 0;
        right:0;
        width:30px;
        height:30px;
        background: #eee;
        font-size: 2em;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 5;
        
}

.hero {
        background:  rgb(47,153,155) ;
        margin-right: 150px;
        color:white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
}
.hero i{
        padding:5px;
} 

.hero #use{
        margin-left: 7px;
}
.hero p{
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        background-color: rgb(47,153,155);
}






.category {
                
                background-color:rgb(47,153,155);
                position:absolute;
                height:50px;
                align-items: center;
                z-index: 2;
                width:1500px
                
                

}
.category ul{
        display:flex;
        list-style: none;
        z-index: 2;
        align-items: left;
        width:auto;

        

}
.category ul li:not(:last-child){
        width:154px;
        margin-right: 10px;
        
}
.category ul li:last-child{
        
        width: 150px;
}
.category ul li a{
                text-decoration: none;
                color:white;

}
.active, .category ul li a:hover
{
        color: aquamarine;
        border-radius: 3px;
        font-size: 15px;
}

.category .fa
{
        margin-right:8px;
}
.sub-menu-1
{
        display:none;
        position: relative;
        z-index: index 2;
        width:max-content;
}
.category ul li:hover .sub-menu-1
{
        display:block;
        position: absolute;
        background:rgb(47,153,155);
        
        margin-left: -15px;
               }
.category ul li:hover .sub-menu-1 ul{
        display: block ;
        
        margin:10px;
        
        
}
.category ul li:hover .sub-menu-1 ul li{
        padding: 10px;
        width:150px;
        border-radius: 0;
        border-bottom: 1px dotted ;
        background: transparent;
        text-align: left;
        

        
}
.category ul li:hover .sub-menu-1 ul li:last-child
{
        border-bottom: none;
}
.category ul li:hover .sub-menu-1 ul li a:hover
{
        color: aqua;
}
.fa-angle-right
{
        float:right;
}
#log{
        color:black;
        background: lightblue;
}
#lo {
        color:white;
        background: black;
}
.part0 {
        
        height:200px;
        margin-top:70px;
        padding:0px;
        display:flex;
        justify-content: center;
        
        background: white;
}
.slider {
        
        width:2000px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        

}
.slides {
                width:500%;
                height:200px;
                display: flex;

}
        
.slides input{
        display: none;
        align-items: center;
}
.slide{
        width:20%;
        transition: 2s;
        }
.slide img {
        
        width: 1500px;
        height:200px;

}       
.navigation-manual{
                position: relative;
                width: 100%;
                margin-top: -36px;
                display:  flex;
                
                margin-left: 673px;
                z-index: 1;
}
.manual-btn{
                border:2px solid #13B8D6;
                padding:5px;
                border-radius: 10px;
                cursor:pointer;
                transition: 2s;



}
.manual-btn:not(:last-child){
        margin-right: 40px;

}
.manual-btn:hover{
        background: #13B8D6;

}
#radio1:checked ~ .first{
        margin-left: 0;
}

#radio2:checked ~ .first{
        margin-left: -20%;
}
#radio3:checked ~ .first{
        margin-left: -40%;
}
#radio4:checked ~ .first{
        margin-left: -60%;
}
.navigation-auto{
        position: absolute;
        width:100%;
        margin-top: 165px;
        margin-left:673px;
        display:  flex;
        

        z-index: 1;
        

        
        
        
}
.navigation-auto div{
        border: 2px solid #13B8D6;
        padding:5px;
        border-radius: 10px;
        transition: 1s;
        

}
.navigation-auto div:not(:last-child){
        margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
        background: #13B8D6;

}
#radio2:checked ~ .navigation-auto .auto-btn2{
        background: #13B8D6;
        
}
#radio3:checked ~ .navigation-auto .auto-btn3{
        background: #13B8D6;
        
}

.part1 {
        background-color: white;
        height:500px;


}
.booklist {
        display: flex;
        height:auto;
        

        justify-content: center;
}
.topsel img{
        height: 200px;
        width:190px;
        margin-right: 5px;
        
}
.topsel {
        height: 400px;
        width:210px;
        box-sizing: border-box;
        padding: 3px;
        text-align: center;
        position: relative;
}
.topsel:hover{
        border: solid gray;
        box-shadow: 2px 2px 5px 5px gray;
}
.topsel h3 {
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: clip;
        
}
.topsel h2{
        color:red;
        padding: 0;
       
}
button.add-to-cart{
        background-color: rgb(77,189,198);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 8px;
        position: absolute;
        bottom: 10px;
        right: 20px;
}
button.add-to-cart:hover{
        background-color: rgb(15, 220, 202);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 8px;
        position: absolute;
        bottom: 10px;
        right: 20px;
}
.part1 h2 a {
        text-decoration: none;
}
.part1 h2  a:hover{
        color: #1CB4CF;
        
}
.part2 {
        background-color: white;
        height:500px;
}
.part2 h2 a {
        text-decoration: none;
}
.part2 h2  a:hover{
        color: #1CB4CF;}
.part3 {
        background-color: white;
        height:500px;
}
.part3 h2 a {
        text-decoration: none;
}
.part3 h2  a:hover{
        color: #1CB4CF;
        
}
.part4 {
        background-color: white;
        height:500px;
}
.part4 h2 a {
        text-decoration: none;
}
.part4 h2  a:hover{
        color: #1CB4CF;
        
}
.part5 {
          background-color: #fff;
        height:500px;
}
.part5 h2 a {
        text-decoration: none;
}
.part5 h2  a:hover{
        color: #1CB4CF;
        
}
.end {
        background-color: rgb(77,189,198);
}
.end0 {
        height:170px;
        width:auto;
        background-image: url("extraimage/footer.png");
           background-repeat: n;
      background-size:cover;
      
      
}
.end0 img{
        padding:30px;
        width: 160px;
        height: 100px;
        padding-left: 220px;
        padding-top: 34px
}

.end1 ul{
         display: flex;
         background-color:rgb(77,189,198);
         list-style-type:none;
         height:30px;
         margin-bottom: 5px;
}
.end1 ul li {
        background-color:rgb(77,189,198);
        
        padding-left: 5px;
        width:200px;
        
}
.end1 ul li a{
        text-decoration: none;
        color: beige;
}
.end1 ul li a:hover{
        color: aquamarine;
}

.end2 {
        display: flex;

}
.foot1 {
        width: 500px;
        
        background-color: rgb(77,189,198);
        height:200px;
}
.foot1 img {
        width:300px;
        height:130px;
        padding:30px;
        padding-left: 150px;

}

.foot2 {
        width: 600px;
        
        background-color: rgb(77,189,198);
}
.foot2 ul {

        list-style-type:none;

}
.foot2 ul li {
        padding:5px;
        padding-left: 80px;
        color: azure;
        font-style:italic;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.7px;
        
}

.foot3 {
        width: 300px;
        background-color: rgb(77,189,198);
}

.foot3 p{
        color: #fff;
        margin-top: 16px;
        font-size:20px ;
}

.foot4 {
        width: 400px;
        
        height:100px;
}
.foot4 p{
        color: #fff;
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        
}
.fut {  
        width: 460px;
        background-color: rgb(77,189,198);
}
.wrapper{
        
        width:400px;
        background-color: rgb(77,189,198);
        padding-top: -100px;
        padding-left: 60px;
        height:100px;
        
        
}
.e{
        display: flex;
        justify-content: center;
        background-color:rgb(77,189,198);
        height:80px;
        padding:10px;
}
.e .icon{
        margin:0 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        display: flex;
        z-index: 2;
        transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.e .icon span{
       position: relative;
        height:40px;
        width:40px;
        display: block;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.e .icon:hover span i{
        color: #fff;
}
.e .icon span i{
        font-size: 25px;
        line-height: 40px;
}
.e .icon .tooltrip{
        position: absolute;
        background:#fff;
        font-size:15px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        border-radius: 25px;
        padding: 7px 5px;
        top: 0px;
        color: #fff;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);

}
.e .icon:hover .tooltrip{
        opacity: 1;
        pointer-events: auto;
        top: -20px;

}
.e .icon .tooltrip::before{
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                background:#fff;
                bottom:-5px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);

}
.e .icon:hover span,
.e .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0,0,0,0.4);

}
.e .facebook:hover span,
.e .facebook:hover .tooltip,
.e .facebook:hover .tooltip::before{
        background: #3B5999;

}
.e .Twitter:hover span,
.e .Twitter:hover .tooltip,
.e .Twitter:hover .tooltip::before{
        background:#46C1F6 ;

}
.e .instragram:hover span,
.e .instragram:hover .tooltip,
.e .instragram:hover .tooltip::before{
        background: #e1306C;

}
.e .github:hover span,
.e .github:hover .tooltip,
.e .github:hover .tooltip::before{
        background: #333;

}
.e .youtube:hover span,
.e .youtube:hover .tooltip,
.e .youtube:hover .tooltip::before{
        background: #DE4638;

}





.foot4 p{
        padding-left: 30px;
}
